<div class="column form-group is-3">
    <%= form_with model: @vote do |f| %>
        <div class="field">
            <div class="control">
                <%= f.label :day, class: "label" %>
                <%= f.date_select :day, class: "input", type: "date" %>
            </div>
        </div>
        <%= f.submit "Submit", class: "button is-info" %>
    <% end %>
</div>
