<!DOCTYPE html>
<html>
  <head>
    <title>AtNoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/solar/bulmaswatch.min.css">
    <script src="https://use.fontawesome.com/d29736871c.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= yield %>
      </body>
</html>
